In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
city_data = pd.read_csv("raw_data/city_data.csv")
ride_data = pd.read_csv("raw_data/ride_data.csv")

In [153]:
city_data.head()
city_data[city_data['city']=='Sarabury']
city_data.count()
duplicates_mask = city_data.duplicated(['city'])
duplicate_city_name = city_data[duplicates_mask]['city']
city_data[city_data['city']=="Port James"]

           city  driver_count      type
84   Port James            15  Suburban
100  Port James             3  Suburban

In [139]:
ride_data.head()
cities_in_ride_data = ride_data['city'].unique()
cities_in_ride_data.size

125

In [138]:
diff_city = cities_in_city_data-cities_in_ride_data
diff_city

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
# Merge the two datasets by city
merged_df = ride_data.merge(city_data, on='city', how='outer')
merged_df.head()

       city                 date   fare        ride_id  driver_count   type
0  Sarabury  2016-01-16 13:49:27  38.35  5403689035038            46  Urban
1  Sarabury  2016-07-23 07:42:44  21.76  7546681945283            46  Urban
2  Sarabury  2016-04-02 04:32:25  38.03  4932495851866            46  Urban
3  Sarabury  2016-06-23 05:03:41  26.82  6711035373406            46  Urban
4  Sarabury  2016-09-30 12:48:34  30.30  6388737278232            46  Urban

In [125]:
group_by_city = merged_df.groupby('city')
# average fare/city
average_fare=group_by_city['fare'].mean()
# total rides/city
total_rides_per_city = group_by_city['ride_id'].count()
# total drivers/city
total_drivers_per_city = city_data.set_index('city')['driver_count']
# city types
city_types = city_data.set_index('city')['type']
# pyber_analysis
pyber_analysis_df = pd.DataFrame()
pyber_analysis_df['Total Number of Drivers Per City'] = total_drivers_per_city
pyber_analysis_df['Average Fare']= average_fare
pyber_analysis_df['Total Number of Rides Per City'] = total_rides_per_city
pyber_analysis_df['City Types'] = city_types

city_data.set_index('city')

                      driver_count      type
city
Kelseyland                      63     Urban
Nguyenbury                       8     Urban
East Douglas                    12     Urban
West Dawnfurt                   34     Urban
Rodriguezburgh                  52     Urban
South Josephville                4     Urban
West Sydneyhaven                70     Urban
Travisville                     37     Urban
Torresshire                     70     Urban
Lisaville                       66     Urban
Mooreview                       34     Urban
Smithhaven                      67     Urban
Carrollfort                     55     Urban
Port Josephfurt                 28     Urban
Lake Jeffreyland                15     Urban
South Louis                     12     Urban
West Peter                      61     Urban
Kimberlychester                 13     Urban
Alyssaberg                      67     Urban
Sarabury                        46     Urban
Yolandafurt                      7     Urban
Edwardsbury                     11     Urban
New Andreamouth                 42     Urban
New David                       31     Urban
Arnoldview                      41     Urban
Williamshire                    70     Urban
Lisatown                        47     Urban
New Aaron                       60     Urban
Swansonbury                     64     Urban
Fosterside                      69     Urban
...                            ...       ...
New Lynn                        20  Suburban
Port Jose                       11  Suburban
Johnland                        13  Suburban
West Tony                       17  Suburban
Port James                       3  Suburban
Campbellport                    26  Suburban
Port Guytown                    26  Suburban
Webstertown                     26  Suburban
Clarkstad                       21  Suburban
North Tracyfort                 18  Suburban
Martinmouth                      5  Suburban
New Jessicamouth                22  Suburban
South Elizabethmouth             3     Rural
East Troybury                    3     Rural
Kinghaven                        3     Rural
New Johnbury                     6     Rural
Erikport                         3     Rural
Jacksonfort                      6     Rural
Shelbyhaven                      9     Rural
Matthewside                      4     Rural
Kennethburgh                     3     Rural
South Joseph                     3     Rural
Manuelchester                    7     Rural
Stevensport                      6     Rural
North Whitney                   10     Rural
East Stephen                     6     Rural
East Leslie                      9     Rural
Hernandezshire                  10     Rural
Horneland                        8     Rural
West Kevintown                   5     Rural

[126 rows x 2 columns]

In [126]:
city_data.count()

city            126
driver_count    126
type            126
dtype: int64

27